node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

project.private.config.json

dist/
build/

*.log
*.tmp
*.temp

miniprogram_npm/
